@import url(../../index.css);

.filter-frame-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 536px;
  width: 300px;
  left: -14px;
  top: 124px;
  border: solid;
  border-width: 10px;
  border-left: 10px;
  color: var(--primary-white);
  border-color: var(--primary-white);
  margin-left: -10px;
}

.filter-frame-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  width: 150px;
  padding-left: 16px;
  padding-top: 20px;
}

.scroller {
  max-width: 450px;
  height: 210px;
  text-align: justify;
  padding: 0 16px 0 0;
}
