@import url(./../../index.css);

textarea {
  box-sizing: border-box;
  white-space: normal;
  width: 100%;
  min-height: 140px;
  padding: 10px;
  overflow-wrap: break-word;
  border: solid 2px black;
  font-size: 16px;
}

textarea::placeholder {
  font-size: 14px;
}
