@import url(../../index.css);
.textbox-container {
  width: 200px;
  height: 289px;
  left: 1075px;
  top: 125px;
  border: solid 2px black;
  margin-top: 60px;
  box-sizing: border-box;
}

.input-text {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  white-space: normal;
  width: 100%;
  height: 100%;
  border: 0;
  box-sizing: border-box;
  padding: 10px;
  overflow-wrap: break-word;
}

.input-text::placeholder {
  box-sizing: border-box;
}
