.canvas-screen-container {
  display: flex;
  padding: 0 50px 0 50px;
}

.fav-grid-container {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 539px;
  border: solid 2px black;
  margin-right: 32px;
}

.generate-image-container {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.label-button-container {
  margin-top: 30px;
}

.download-image-button-container {
  margin-top: 11px;
}

.clear-canvas-button {
  margin-top: 60px;
}
