.canvas-screen-container {
  display: flex;
  margin: 0 50px 50px 50px;
  /* height: calc(100vh - 170px) */
}

.explore-container {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 450px;
}

.fav-grid-container {
  display: flex;
  flex: 1;
  justify-content: left;
  border: solid 2px black;
  max-height: 470px;
  overflow-y: auto;
}

.explore-button-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.references {
  overflow: scroll;
  flex: 1;
}

.generate-image-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 250px;
}

.all-canvas-buttons-container {
  display: flex;
  flex-direction: column;
}

.small-canvas-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.references-title {
  font-weight: bold;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 20px;
}

.artist-and-title-references {
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 15px;
}

.object-reference:hover {
  cursor: pointer;
  text-decoration: underline;
}

.steps {
  margin-top: 20px;
  flex: 1;
}

@media screen and (min-height: 1024px) {
  .explore-container {
    height: 1042px;
  }

  .generate-image-container {
    height: 1042px;
  }
}
