@import url(../index.css);

.heading-button-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.homepage-button-container {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 15px;
}
