@import url(../index.css);

.homescreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100vw - 70px);
  padding: 50px;
}

.left-heading-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 401px;
  height: 80%;
  z-index: 102;
  background-color: white; 
}

.pageheading-container-homescreen {
  background-color: white;
}

.homepage-button-container {
  padding-bottom: 20px;
  padding-right: 15px;
  background-color: white;
  width: 300px;
  flex: 1;
}


 @media (max-width: 1400px) and (min-height: 1000px){
  .homescreen {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 540px) {
  .left-heading-container{
    min-width: 0;
  }
}

@media (max-width: 493px) {
  .left-heading-container{
    min-width: 0;
  }

  h1 {
    font-size: 45px;
    line-height: normal;
  }

  h2 {
    font-size: 30px;
    line-height: normal;
  }
}

@media (max-width: 430px) {
  .left-heading-container{
    min-width: 0;
  }

  h1 {
    font-size: 40px;
    line-height: normal;
  }

  h2 {
    font-size: 28px;
    line-height: normal;
  }
}

@media (max-width: 400px) {
  .left-heading-container{
    min-width: 0;
  }

  h1 {
    font-size: 35px;
    line-height: normal;
  }

  h2 {
    font-size: 25px;
    line-height: normal;
  }
}

@media (max-width: 1000px) {
  .homescreen .frontpage-grid {
    display: none;
  }
}

@media (max-height: 600px) {
  .homescreen .frontpage-grid {
    display: none;
  }
}


