@import url(../../index.css);

.heading-container {
  padding-bottom: 30px;
}

h2 {
  margin: 0px;
}

h1 {
  padding-bottom: 10px;
}

@media (max-width: 422px) {
  .heading-container{
    margin-bottom: 0px;
  }

}

@media (max-height: 800px) {

}