@import url(../../index.css);

.label-button-standard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
  text-shadow: none;
  cursor: pointer;
  box-shadow: none;
  border: solid;
  border-width: 2px;
  width: 125px;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 15px;
  color: var(--primary-white);
}

.label-button:hover {
  opacity: 0.8;
}

.label-button-large {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
  text-shadow: none;
  cursor: pointer;
  box-shadow: none;
  border: solid;
  border-width: 2px;
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 15px;
  color: var(--primary-black);
}
