.favoriteBoard {
    background-color: var(--primary-white);
    width: 300px;
    position: sticky;
    height: 100vh;
    top: 0;
    left: calc(100vw - 300px);
    box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.25);
}

.cross {
    width: 25;
    height: 25;
    position: absolute;
    left: 81.73%;
    right: 9.97%;
    top: 7.29%;
    bottom: 89.14%;
    cursor: pointer;
}