.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
}

.rigt-side-icon-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-left: 40px;
  width: 150px;
}

.left-side-icon-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  align-self: flex-end;
  justify-self: flex-end;
  justify-content: end;
}
