.navbar-container {
  position: -webkit-sticky;
  position: sticky;
  height: 125px;
  top: 0;
  z-index: 15;
  padding-left: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 42px;
  align-items: center;
}

.rightside-icons {
display: flex;
align-items: center;
}

.navbar-container-plain {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 100%;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  height: 125px;
  top: 0;
  z-index: 15;
  padding-left: 92px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-side-icon-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  align-self: flex-end;
  justify-self: flex-end;
  justify-content: end;
}

.SMK-logo-small {
  width: 10px;
}