@import url(../../index.css);

.image {
     position: relative;
}

.object-hover {
 	position: absolute;
	color: var(--primary-white);
	transform: translate3d(-50%, -50%, 0);
 	border-radius: 5px; 
 	pointer-events: none;
	z-index: 1000;
}

.message {
    color: var(--primary-white);
}

.object-hover p {
    margin: 0;
}


.favorite-icon-fullscreen {
    position: absolute;
    cursor: pointer;
    z-index:1001;
    display: flex;
    justify-content: right;
    pointer-events: none; 
}
