.konva-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 512px;
  height: 512px;
}

 .konvajs-content {
  width: 512px;
  height: 512px;
  margin-top: 20px;
}

.konva-frame {
  border: 10px solid #101011;
}


@media (min-height: 1024px) {
  .konva-container {
    width: 1024px;
    height: 1024px;
  }
}
