@import url(./index.css);

body {
  margin: 0;
}

.favorite-list-container {
  position: fixed; /* set position to fixed */
  display: flex;
  justify-content: flex-end;
  left: auto;
  right: 0;
  bottom: 0;
  width: fit-content;
  z-index: 20; /* set z-index to a higher value than the other components */
}
