.nav-icon-img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  margin-left: 30px;
}

.nav-img-container {
  display: flex;
  padding: 15px 12px;
  box-sizing: border-box;
  height: 100px;
}

a {
  display:flex;
  justify-content: center;
  margin-top: -1px;
}
