.nav-icon-container {
  height: 50px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon-container:hover {
  cursor: pointer;
}

.nav-icon-img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.nav-img-container {
  display: flex;
  padding: 15px 12px;
  box-sizing: border-box;
  height: 100px;
}
